html body {
  font-family: 'Roboto Condensed', sans-serif;
  background: black;
  color: white;
}

h1, h2{
  font-family: 'Open Sans', sans-serif;
}

/*Player*/
.player{
  width: 400px;
  height: 300px;
}
/*Controls*/
button{
  color: #140A00;
  outline: none;
  border: none;
}
button:hover{
  background: blue;
}

#addSong{
  margin-top: .75em;
}

#contols{
  font-size:1.3em;
}
.transitioningClass{
  color:cyan;
  cursor:wait;
}

/*Scrolling marquee for now playing*/
.marquee {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    height: 5em;
}
.marquee h2 {
    color: cyan;
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}


/*Setting Area*/
#settings {
  margin-top:1em;
  padding:1em;
  background-color:azure;
  border-radius: .5em;
  border-style: solid;
  border-color: blue;
}

#settings input{
  color:blue;
  background-color: #140A00;
  outline: none;
  border: none;
}

#exportPlaylist, #importPlaylist{
  margin-top: .5em;
}

.popover{
  color:azure;
  width:25em;
}


/*addSong Area*/
.addSong{
  margin-top: 1em;
}
.addSong #addSongInput{
  background-color: azure;
  color:blue;

  outline: none;
   border: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   border-color: blue;
   border-radius: 2em;
   border-top: solid;
}
.addSong #addSongSpan{
  color: blue;
  background-color: azure;
  border: none;
  border-radius: 2em;
  border-top:solid;
}
.addSong #addSongPlus{
  color: blue;
}


/*Export pop up*/
.ui-dialog{
  z-index: 1000;
  border: solid;
  border-width: 1px;
}
.dialog{
  padding:3em;
  background-color:azure;
  width: 50%;
}
.ui-dialog-titlebar{
  padding:.5em;
  background-color:azure;
  font-size: 1.2em;
}
.ui-dialog-titlebar-close{
  float: right;
}
.dialog textarea{
  height:20em;
  width:15em;
  overflow-y: scroll;
  color: white;
  background-color: #140A00;
}


/*Dragable CSS*/
/*http://www.knockmeout.net/2012/02/revisiting-dragging-dropping-and.html*/

::-moz-selection { background: #854100; }
::selection { background: #854100; }


.item {
    padding:10px 0px;
    margin:10px 0px;
    width: 100%;
    color:blue;
    background-color: azure;
    border-width: 1px;
    border-radius: .5em;
    border-style: solid;
    border-color: blue;
    cursor: move;
}
.item .glyphicon-remove{
      cursor: default;
      padding-right: .5em;
}
a {
    color:blue;
}

.item *:focus {outline: none;}


#results {
    margin-left: 175px;
    width: 150px;
}
